# ==========================================
# FRONTEND - React / Vite
# ==========================================

frontend/node_modules/
frontend/dist/

*.local


# ==========================================
# BACKEND - Python
# ==========================================

backend/.venv/
backend/venv/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/


# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

.env
*.env

!*.env.example


# ==========================================
# UPLOADS
# ==========================================

backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/reports/
backend/uploads/reports/*
!backend/uploads/reports/.gitkeep


# ==========================================
# DATABASE / LOCAL FILES
# ==========================================

*.sqlite
*.db


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OPERATING SYSTEM
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# LOGS
# ==========================================

*.log
logs/